@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  font-family: 'Sora', sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/mainbg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;

  transform: rotate(-180deg);
  transform-origin: center;
  z-index: -1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  overflow-x: hidden;
}
